# Pandas
Pandas es una librería de alto rendimiento para estructuras y para análisis de datos en Python. Entre sus características principales están:

* Una clase DataFrame eficiente para manipulacion de datos con indexado integrado
* Herramientas para leer y escribir entre estructuras almacenadas en memoria y diferentes formatos como CSV, archivos de texto plano, Excel, Bases de datos SQL y HDF5;
* Alienación de data 
* Alineacion inteligente de datos y manejo integrado de data faltante.
* Soporte para redimensionamiento y tablas de pivote.
* Soporte Slicing, y slicing basado en etiquetas.
* Las columnas pueden ser insertadas o borradas de las estructuras de datos.
* Agregacion o transformación de datos con un poderoso motor de agrupacion (group by) permitiendo dividir-aplicar-combinar en los data sets.
* Merge y Join de alto rendimiento.
* Índices Jerárjicos por ejes que proveen una forma intuitiva de trabajar con datos multidimensionales en una estructura de menos dimensiones.
* Funcionalidad para manejo de series de tiempo.
* Python con pandas es usado en variedad de dominios comerciales y académicos, incluido Finanza, Nerociencia, Economía, Estadística, Marketing y mas

In [ ]:
# Importar modulo pandas
import pandas as pd
import numpy as np

## Series
Un objeto Series en pandas es un array unidimensional de datos indexados. Es análogo a un array numpy de una dimensión

In [ ]:
serie1 = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90])
serie1

In [ ]:
serie1.values

In [ ]:
serie1.index

In [ ]:
serie1[1]

In [ ]:
serie1[3:5]

In [ ]:
serie1 = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90], index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
serie1

In [ ]:
serie1['d']

In [ ]:
dic_poblacion = { "Bogotá": 8181047,
             "Medellín": 2529403,
             "Cali": 2445281,
             "Barranquilla": 1232766 }

poblacion = pd.Series(dic_poblacion)
poblacion

In [ ]:
poblacion["Cali"]

In [ ]:
poblacion["Bogotá":"Medellín"]

## DataFrame
Un Dataframe en pandas es un array bidimensional de datos indexados. Es análogo a un array numpy de dos dimensión. Se puede decir que un DataFrame es una secuencia de objetos Series alienados que comparten el mismo índice.

In [ ]:
dic_poblacion = { "Bogotá": 8181047,
             "Medellín": 2529403,
             "Cali": 2445281,
             "Barranquilla": 1232766 }

poblacion = pd.Series(dic_poblacion)
poblacion

In [ ]:
dic_area = { "Bogotá": 1587,
            "Medellín": 380,
            "Cali": 562,
            "Barranquilla":166 }

area = pd.Series(dic_area)
area

In [ ]:
ciudades = pd.DataFrame({"Población": poblacion, "Área": area})
ciudades

In [ ]:
ciudades.index

In [ ]:
ciudades.columns

In [ ]:
ciudades["Población"]

In [ ]:
type(ciudades["Población"])

### Creación de DataFrames
Los DataFrames se pueden crear de varias formas

In [ ]:
# Crear DataFrame desde un objeto Serie
pd.DataFrame(poblacion, columns=['Población'])

In [ ]:
# Crear DataFrame desde diccionarios
pd.DataFrame([{'a': 1, 'b': 2, 'c': 3}, {'a': 2, 'b': 3, 'c': 4}])

In [ ]:
# Inclusive si hay algunos datos faltantes, Pandas creará del DataFrame con Nan (Not a Number) en los datos faltantes
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

In [ ]:
# Desde un diccionario de objetos Series
ciudades = pd.DataFrame({"Población": poblacion, "Área (km2)": area})
ciudades

In [ ]:
# Desde un array Numpy bidimensional

pd.DataFrame(np.random.rand(3, 2),
             columns=['x', 'y'],
             index=['a', 'b', 'c'])

#### Crear DataFrame desde un archivo
Pandas ofrece funciones para importar archivos de texto plano, csv, excel

In [10]:
import pandas as pd
# precios_vivienda = pd.read_csv("data/Caracterizaci_n_precios_vivienda_nueva.csv") # Datos locales
precios_vivienda = pd.read_csv("https://raw.githubusercontent.com/javiercocu/intro-datascience/master/data/Caracterizaci_n_precios_vivienda_nueva.csv")

precios_vivienda

,Subzona,precios,estrato,area,alcobas,baños,parqueadero,Long_com_corr,parques,vias,remocion_masa,grandes_superficies,colegios,hospitales
0,Rosales,16.364833,5.921512,177.315698,2.672965,3.776163,2.981105,15.762355,530.287053,114.399907,210.171244,0,0,0
1,Chico,13.939057,5.905213,128.043839,2.225118,3.104660,2.152449,123.324578,524.939948,234.495011,540.272909,17,0,0
2,Bosque Medina,10.751194,4.699140,151.226361,2.532951,3.037249,2.467049,25.523559,688.125569,132.718385,411.765562,1,0,0
3,Multicentro,10.365171,5.647235,94.070728,2.086315,2.625469,1.785589,98.456376,554.446874,234.884578,610.978627,10,0,0
4,La Carolina,10.050658,5.390084,114.054818,2.179607,2.956034,1.985033,27.904729,630.037093,130.954436,335.558966,0,1,0
5,Pablo VI,9.588879,4.630769,94.822308,2.476923,2.607692,1.446154,35.842463,1617.648390,179.138057,1599.640396,7,3,1
6,Centro,9.504144,3.195473,63.382613,1.743827,1.799383,0.987654,141.055920,485.081173,252.861646,1570.788568,128,24,9
7,Colinas de Suba,9.342163,5.639469,212.210436,3.049336,3.848197,3.138520,5.711240,1424.357194,88.110061,362.545973,1,0,0
8,Chapinero,8.681093,3.738265,74.125747,1.773826,1.960171,1.251778,88.471722,968.019424,192.624319,541.919511,15,7,2
9,Córdoba,8.602316,4.909672,84.037135,2.155109,2.302920,1.655110,56.866181,926.342471,205.840416,724.234670,9,2,0
10,Teusaquillo,8.031767,3.771930,66.117895,1.768421,2.143860,1.129825,231.037199,270.797672,281.005659,771.042069,14,6,2
11,Los Andes,7.723087,3.808664,98.613718,2.588448,2.527076,1.310469,123.833525,1518.114478,229.031661,1358.048242,11,37,6
12,Cedritos,7.679327,4.261869,78.574184,2.115232,2.360534,1.650099,49.431007,658.100184,204.526227,553.153325,22,1,0
13,Colina camp.,7.233064,4.272861,98.858997,2.657817,2.390855,1.663717,49.643434,792.020285,180.054342,500.261663,6,4,0
14,Mazuren,6.785028,3.874433,97.018759,2.674735,2.531014,1.506808,21.919553,513.686102,105.932512,1325.426236,9,5,0
15,Atabanza,6.328127,3.037267,64.970497,2.388199,1.869565,1.055901,103.812470,681.903734,181.873372,311.058293,3,2,1
16,Modelia,5.947777,3.562691,74.035474,2.828746,2.067278,1.070336,46.035661,727.235487,195.706210,851.974917,6,2,0
17,Min. Dios,5.748105,3.375000,53.461458,2.130208,1.614583,0.921875,96.948415,678.026753,238.046281,604.180496,1,16,2
18,Maranta,5.676626,3.475538,78.067025,2.818004,2.078278,1.123924,55.723667,482.964739,164.668663,1675.184260,12,22,8
19,C/marca,5.608747,3.048193,68.559036,2.783133,1.963855,1.000000,91.377489,497.198558,231.243102,1298.549149,67,18,4
20,Campiña,4.980961,3.115288,70.429825,2.625313,1.967419,0.994271,78.477791,533.039077,191.821118,1356.292041,15,24,4
21,Américas,4.961391,3.106262,68.398672,2.823529,2.009488,0.964410,76.044657,727.914490,225.925735,889.505808,4,10,3
22,Bochica,4.948221,3.109797,71.270101,2.842905,2.037162,1.036564,78.854417,720.990348,194.725583,2148.244132,6,28,9
23,Kennedy,4.907356,3.575000,66.239167,2.933333,1.766667,0.848583,111.462884,947.334990,263.153706,1786.839488,8,40,10
24,Prim. Mayo,4.882920,2.920000,61.610667,2.346667,1.800000,0.719947,134.047701,693.263902,283.407686,1019.906113,12,31,4
25,Tibabuyes,4.368835,2.469136,61.361728,2.691358,1.879012,0.678030,86.539268,754.363761,211.089148,1062.693876,3,14,4
26,Auto Sur,4.191937,2.804878,61.674797,2.739837,1.837398,0.869854,87.634919,1104.309322,263.763152,2088.795281,7,65,13
27,Central ab.,4.187017,2.924205,65.523472,2.777506,1.894866,0.920816,115.632145,992.853960,257.354671,2057.079128,10,49,8
28,Fontibón,3.690468,2.702703,59.585586,2.585586,1.576577,0.285099,43.758786,408.117822,130.437561,1890.801007,6,18,6
29,Tunjuelito,3.199884,3.000000,41.368421,2.342105,1.026316,0.289474,50.815934,264.806635,227.131696,1528.582827,1,34,9
30,20 de julio,3.095693,2.646341,50.700000,2.378049,1.329268,0.326024,58.304275,720.696346,243.238419,5181.662764,10,129,29
31,Ciudad Verde,2.202857,3.000000,55.628184,2.794038,1.094851,0.309051,25.541590,179.945129,80.740842,3603.532163,5,29,10

In [ ]:
precios_vivienda = pd.read_csv("data/Caracterizaci_n_precios_vivienda_nueva.csv", index_col = "Subzona")
precios_vivienda

## Selección e indexado

### Selección de datos en Series

In [ ]:
import pandas as pd
datos = pd.Series([0.1, 0.2, 0.7, 1.0],
                 index=['a', 'b', 'c', 'd'])
datos

In [ ]:
datos['b']

In [ ]:
# Los datos en un objeto Series puede ser modificado accediendo a través del índice

datos['d'] = 40

datos

In [ ]:
# Selección por Slicing

datos[0:2]

In [ ]:
datos['b':'c']

In [ ]:
# Máscaras

datos < 0.5

In [ ]:
# Las máscaras se pueden usar para seleccionar datos

datos[datos < 0.5]

### Selección de datos en DataFrame

In [ ]:
dic_poblacion = { "Bogotá": 8181047,
             "Medellín": 2529403,
             "Cali": 2445281,
             "Barranquilla": 1232766 }

dic_area = { "Bogotá": 1587,
            "Medellín": 380,
            "Cali": 562,
            "Barranquilla":166 }
ciudades = pd.DataFrame({"Población": poblacion, "Área": area})
ciudades

In [ ]:
# Seleccion de columna
ciudades["Área"]   # Una columna de un DataFrame es un objeto Series

In [ ]:
ciudades.Área # Una columna de un DataFrame también es una propiedad del DataFrame

In [ ]:
ciudades['densidad'] = ciudades['Población'] / ciudades['Área']
ciudades

In [ ]:
ciudades.values

In [ ]:
ciudades.T

In [ ]:
ciudades.values[0]

In [ ]:
ciudades

In [ ]:
ciudades.loc["Cali"]   # loc se usa para seleccionar por valor del índice

In [ ]:
ciudades.loc["Bogotá":"Medellín"]

In [ ]:
ciudades.loc[["Cali","Barranquilla"]]

In [ ]:
ciudades.iloc[0:2]   #iloc se usa para seleccionar por número de índice

In [ ]:
ciudades["Población"] > 2500000   # Creación de máscaras

In [ ]:
ciudades[ ciudades["Población"] > 2500000 ]  #Uso de máscara para selección

In [ ]:
ciudades[ ciudades.Área < 500 ]

## Manejando data faltante

La data obtenida en los datasets reales suele tener datos faltantes o corruptos. Pandas nos puede ayudar con el manejo de estos datos faltantes

In [ ]:
falt1 = np.array([1, None, 3, 4])    #None es un tipo de objeto especial en Python que se usa para datos faltantes
falt1 # En este caso el typo de variable del arreglo es object

In [ ]:
falt1.sum()

In [ ]:
falt2 = np.array([1, np.nan, 3, 4]) #NaN (Not a number) es un valor especial de tipo flotante 
falt2.dtype  # El tipo de variable en este arreglo es float

Aunque no genera un error en ejecución, las operaciones estándar de mnumpy con datos nan retornan nan

In [ ]:
falt2.sum()

Numpy provee funciones especiales de agregación que no se afectan por datos nan

In [ ]:
np.nansum(falt2), np.nanmin(falt2), np.nanmax(falt2), np.nanmean(falt2), np.nanstd(falt2)

### NaN y None en Pandas
Pandas maneja NaN y None en Pandas de manera conveniente

In [ ]:
a = pd.Series([1, 2, None, 4, np.nan])
a

In [ ]:
b = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0])
b

In [ ]:
b[5] = None
b

### Detectando valores faltantes en Pandas
Pandas provee las funciones `isnull()` y `notnull()` para detección de datos faltantes

In [ ]:
c = pd.Series(["hola", 15, np.nan, "mundo", None])
c

In [ ]:
c.isnull()

In [ ]:
c[c.notnull()]

#### Eliminar datos faltantes

In [ ]:
c = c.dropna()
c

En el caso de DataFrames, existen más opciones para eleminar datos faltantes, se pueden eliminar filas o columnas complentas que contengan datos faltantes

In [ ]:
df = pd.DataFrame([[1,      2, np.nan],
                   [4,      5,      6],
                   [np.nan, 8,      9]])
df

Eliminar filas que contengan uno o más datos faltantes

In [ ]:
df.dropna()    # Eliminar filas que contengan datos faltantes

Eliminar columnas que contengan uno o mas datos faltantes

In [ ]:
df.dropna(axis='columns')    # Eliminar columnas que contengan uno o mas datos faltantes

Eliminar filas que contengan todos los datos faltantes

In [ ]:
df = pd.DataFrame([[np.nan, np.nan, np.nan],
                   [4,         5,        6],
                   [np.nan,    8,        9]])
df

In [ ]:
df.dropna(how='all')

También se puede especificar una cantidad máxima de datos faltantes para que no se elimine la fila o columna

In [ ]:
df = pd.DataFrame([[np.nan, np.nan, np.nan],
                   [4,      np.nan,      6],
                   [np.nan,    8,   np.nan],
                   [np.nan,   10,   np.nan],
                   [np.nan,    8,        9]])
df

In [ ]:
df.dropna(axis = 'columns', thresh = 2)

In [ ]:
df.dropna(axis = 'rows', thresh = 2)

#### Llenar datos faltantes

In [ ]:
df = pd.DataFrame([[np.nan, np.nan, np.nan],
                   [4,      np.nan,      6],
                   [np.nan,    8,   np.nan],
                   [np.nan,   10,   np.nan],
                   [np.nan,    8,        9]])
df

In [ ]:
df.fillna(10)

In [ ]:
df.fillna(method='ffill', axis=1)  # ffill o Forwardfill Hace un llenado del dato faltante hacia adelante

In [ ]:
df = pd.DataFrame([[np.nan, np.nan, np.nan],
                   [4,      np.nan,      6],
                   [np.nan,    8,   np.nan],
                   [np.nan,   10,   np.nan],
                   [np.nan,    8,        9]])
df

In [ ]:
df.fillna(method='bfill', axis=0) # bfill o BackFill Hace un llenado del dato faltante hacia atrás

# Ejercicio
* Cargar el Dataset "https://raw.githubusercontent.com/javiercocu/intro-datascience/master/data/titanic.csv en un DataFrame con la funcion pd.read_csv()
* Detectar datos faltantes en las diferentes columnas por medio de la función isnull()
* Calcular el valor medio de las edades con la funcin nanmean()
* Llenar los datos faltantes de edad con el resultado de la media

In [8]:
### Celda para Completar Ejercicio